
html {
box-sizing:border-box;
}
*, *:before, *:after {
box-sizing:inherit;
}

.warningHeader {
height: 350px;
background:black;
margin: auto;
display: flex;
justify-content: center;
}

.warningContent {
	width:200px;
	height:200px;
}

.budget{
	display:flex;
}

