
.criteriaLogo {
    width:20%;
    filter: opacity(70%);
}

.criteriaForm {
    background-color: white;
    width:75%;
    margin: auto;
    text-align: center;
    padding:20px;
    font-family: adobe-heiti-std, sans-serif;
    font-style: normal;
    font-weight: 200;
    margin-top:20px;

}

.criteriaSelectors{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding:20px 116px;
    text-align: justify;
    font-family: adobe-heiti-std, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size:25px;
    padding:5px;
}

.blue {
    color:#345375;
    font-size:50px;
}




.budgetHeader, .typeHeader, .locHeader {
    font-size: 40px;
    font-family: adobe-heiti-std, sans-serif;
    font-style: normal;
    font-weight: 200;
}

.zipBox {
    position: center;
    right: 0px;
    width:auto;
    padding:10px;
    border:transparent;
    background:#EBEBEB;
    font-size:14px;
    background:grey;
    color:black; 

}

.zipDiv{
    margin-bottom:20px;
    margin-top:10px;
}

.zipBox:focus {
    background:grey;
    color:black;
    outline:none;

}


.budget {
  display: inline-block;
  text-align: center;
  padding:20px;
}
.budget label {
  display: block;
  font-size:25px;

}

.goButtons{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
}

#letsgo {
    text-decoration: none;
    background-color: #345375;
    height:50px;
    width:200px;
    padding: 5px 10px;
    border-radius: 7px;
    line-height: 45px;
    text-align: center;
    color:white;
    border:0px;
    
}

#letsgo:hover {
    background-color: rgba(0,0,0,0.5);

}



#groupForm {

}

#groupNameInput {
    height: 40px;
    border-radius:7px;
    border:1px solid #345375;
}

#groupCodeInput {
    height: 40px;
}

#createGroupButton {
    width: 100px;
    height: 40px;
    border:0px;
    color:white;
    border-radius:7px;
    background-color:#345375; 
}

#createGroupButton:hover {
    background-color: rgba(0,0,0,0.5);

}

