{box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

html{
	background-image: url(./background.jpg);
	background-repeat: none;
	background-size: 100%;
}
.groupList{
	list-style: none;
}
.groupAlign{
	text-align: center;
}

.groupName {
	color:white;
	font-size: 100px;
	margin-bottom:20px;
	text-align: center;
	font-family: adobe-heiti-std, sans-serif;
  font-style: normal;
  font-weight: 300;

}


.groupImage {
	height:200px;
	width:200px;
}
.groupInfo {
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 25px;
	color:#95989A;
	vertical-align: 200px;
	font-family: adobe-heiti-std, sans-serif;
  font-style: normal;
  font-weight: 300;
  padding-top:15px;
}
.groupButton{
	height:40px;
	width:60px;
	background-color:#E5E5E5;
	border:1px solid #95989A;
	color:#345375;
	font-size: 20px;
	font-family: adobe-heiti-std, sans-serif;
	font-style: normal;
	font-weight: 300;
	border-radius: 7px;
}

.groupInfo div {
	background-color: rgba(0,0,0,0.5);
	width:300px;
}

.groupInfo div :nth-child(2){
	background-color: transparent;
}

.groupInfo div :nth-child(3){
	background-color: transparent;
}



.groupListName{
	color:#345375;
	font-size: 25px;
	font-family: adobe-heiti-std, sans-serif;
  font-style: normal;
  font-weight: 300;
  padding-top:10px;
  

}

.groupheading{
	font-size:40px;
}