html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background:#EBEBEB;
}
/*HOME.JS*/

.mainBody {
	   background: linear-gradient(rgba(0,0,0,25), rgba(0,0,0,0));
	       top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    opacity: 20%;
}

.logoHeader {
	height:350px;
	margin:auto;
	display:flex;
	justify-content: center;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    opacity: 20%;
}


.warningImg {
	margin: auto;
	display: flex;
	justify-content: center;
	margin-top:-30px;
	padding-left:10%;
	padding-right:10%;
}

.buttonDiv {
	display:flex;
	justify-content: center;
	margin:auto;
	padding: 0px 120px;
	
}

.dirty {
	border:1px black;
	color:red;
	margin:auto;
	display:flex;
	justify-content: center;
	font-size:35px;
	text-decoration:none;
}

.linkButtons {
	position: relative;
	top: 130px;
}

#dirty {
	color: red;
	text-align: center;
}

#clean {
	color: white;
	text-align: center;
}

a {
	text-decoration: none;
	background-color: black;
	font-size: 35px;
	padding: 5px 10px;
	border-radius: 5px;
	height: 55px;
	line-height: 45px;
	text-align: center;
}

a:hover {
	background-color: rgba(0,0,0,0.5);
}

a:visited {
	color: inherit;
}

.dirtyDiv {
	border:1px black;
	background:black;
	width:20%;
	height:50px;
	text-decoration:none;
	border-radius:10%;
	line-height:50px;
	margin-left:15%;
	margin-top:15%;
}
.clean {
	border:1px black;
	color:white;
	margin:auto;
	display:flex;
	justify-content: center;
	font-size:35px;
	text-decoration:none;

}

.cleanDiv {
	border:1px black;
	background:black;
	width:15%;
	height:50px;
	text-decoration:none;
	border-radius:10%;
	line-height:50px;
	margin-right:15%;
	margin-top:15%;
}

.expContent {
	color:white;
	font-family:sans-serif;
	font-size:16px;
}

.warningContent {
	width: 32%;
	margin: auto;
	font-family:sans-serif;
	align-content: center;
	background-color: black;
	border:2px solid red;
	margin-top:-70px;

}

.bottomContainer {
	height:auto;
}

.criteriaLogo{
	height:175px;
}

.wordHilight{
	color:white;
	padding: 0 5px;
}

.mainContainer{
	  margin-top: -90px;
    margin-left: 200px;
    border-top: 5px solid rgb(195, 13, 50);
}

.budgetHeader{
	display: flex;
	font-size: 30px;
}

p{
	margin-top:10px;
}

.restImage{
	height: 60px;
}

/*slideshow
*/

.cb-slideshow,
.cb-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
}
.cb-slideshow:after { 
    content: '';
    background: transparent url(https://www.dunkindonuts.com/content/dam/dd/img/products/donuts/donuts/promos/promo-overlay-donuts-768x384.jpg) repeat top left; 
}

.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 36s linear infinite 0s; 
}

.cb-slideshow li div { 
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div h3 { 
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 240px;
    padding: 0;
    line-height: 200px; 
}

.cb-slideshow li:nth-child(1) span { 
    background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRfZFPp1ItTndNCiQ-kXFUjtV3JBCCOyBu-Ug6zPNixUTzRApXsxg) 
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url(http://media.virbcdn.com/cdn_images/resize_1024x1365/51/e1ed748a6fa5554f-modeleatingpeanutbutter.jpg);
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url(https://www.rightthisminute.com/sites/default/files/styles/blog_detail_page_hero/public/posts/thumbails/video-daniel-tosh-taco-bell-throwback-thursday.jpg?itok=fpjPtyVx);
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) span { 
    background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQESNLqscZFiecexH7Sl9dHMKqcnOVIEA7Koty8xq67V5GZt3qcyw);
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) span { 
    background-image: url(http://media.virbcdn.com/cdn_images/resize_1024x1365/51/e1ed748a6fa5554f-modeleatingpeanutbutter.jpg));
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) span { 
    background-image: url(http://media.virbcdn.com/cdn_images/resize_1024x1365/51/e1ed748a6fa5554f-modeleatingpeanutbutter.jpg));
    animation-delay: 30s; 
}
.cb-slideshow li:nth-child(2) div { 
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) div { 
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) div { 
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) div { 
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) div { 
    animation-delay: 30s; 
}

@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@media screen and (max-width: 1140px) { 
    .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) { 
    .cb-slideshow li div h3 { font-size: 80px }
}
@keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    transform: scale(1.05);
	    animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    transform: scale(1.1) rotate(3deg);
	}
	25% {
	    opacity: 0;
	    transform: scale(1.1) rotate(3deg);
	}
	100% { opacity: 0 }
}
@keyframes titleAnimation { 
	0% {
	    opacity: 0;
	    transform: translateX(200px);
	}
	8% {
	    opacity: 1;
	    transform: translateX(0px);
	}
	17% {
	    opacity: 1;
	    transform: translateX(0px);
	}
	19% {
	    opacity: 0;
	    transform: translateX(-400px);
	}
	25% { opacity: 0 }
	100% { opacity: 0 }
}


