{box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

html{
	background-image: url(./background.jpg);
	background-repeat: none;
	background-size: 100%;
}
.resultsLogo {
	width:20%;
	filter: opacity(70%);

}
.resultsList{
	list-style: none;
	text-align: center;
	margin:auto;
	max-width:1100px;
}

.resultName {
	color:white;
	font-size: 100px;
	padding-top:-120px;
	margin-top:-120px;
	margin-bottom:20px;
	text-align: center;
	font-family: adobe-heiti-std, sans-serif;
	font-style: normal;
	font-weight: 300;

}

.resultImage {
	height:200px;
	width:200px;
}
.resultsInfo {
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 25px;
	color:#95989A;
	vertical-align: 200px;
	font-family: adobe-heiti-std, sans-serif;
  	font-style: normal;
  	font-weight: 300;
  	padding-top:15px;
}

.resultsInfo div {
	background-color: rgba(0,0,0,0.4);
	width:300px;
}

.resultsInfo div :nth-child(2), div :nth-child(3){
	background-color: transparent;
}

.resultsButton{
	position:absolute;
	display:flex;
	flex-direction: column;
	padding:30px;
}

.resultsButton button{
	height:60px;
	width:140px;
	background-color:#E5E5E5;
	border:1px solid #95989A;
	color:#345375;
	font-size: 20px;
	font-family: adobe-heiti-std, sans-serif;
	font-style: normal;
	font-weight: 300;
	border-radius: 7px;
}
.resultheading{
	font-size:40px;
}