html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}



.roomID {
	font-size: 30px;
	display:block;
	border:1px solid black;
	text-align: center;
	vertical-align: middle;
	color:black;
	
	font-family: 'Playfair Display SC', helvetica;
	
}

.userID{
	height:75px;
	width:300px;
	font-size: 50px;
	text-align: center;
	margin:0 auto;
}

.roomLogin {
	font-size:60px;
	color:white;
	font-family: adobe-heiti-std, sans-serif;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    padding: 20px;
   

}
.roomDiv {
	background-color: white;
	width:80%;
	margin:auto;
	height:700px;
	display:flex;
	flex-direction: row;
}
.listRoom{
	width:50%;
}
.chatRoom{
	width:50%;
}