html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

body {
  margin: 0;
  padding: 0;
  font-family: tahoma;
  background:#EBEBEB;
}

.roomID {
	font-size: 30px;
	display:block;
	border:1px solid black;
	background: linear-gradient(40deg, black, white);
	text-align: center;
	vertical-align: middle;
	color:black;
	margin-top:10px;
	font-family: 'Playfair Display SC', helvetica;
	
}