html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.hrstyle{
	border-top: 4px solid #C30D32;
}

.yesLogo{
	height:175px;
}

.wordHilight{
	color:white;
	padding: 0 5px;
}

.mainContainer{
	  margin-top: -90px;
    margin-left: 200px;
    border-top: 5px solid rgb(195, 13, 50);
}

.budgetHeader{
	display: flex;
	font-size: 30px;
}

p{
	margin-top:10px;
}

