html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.hrstyle{
	border-top: 4px solid #C30D32;
}

.yesLogo{
	height:175px;
}

.wordHilight{
	color:white;
	padding: 0 5px;
}




