html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.hrstyle{
	border-top: 4px solid #C30D32;
}

.yesLogo{
	height:175px;
}

.wordHilight{
	color:white;
	padding: 0 5px;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
=======

>>>>>>> 93b2c7aca42248682dd0c781854c5dc3f6c93d44
.mainContainer{
	  margin-top: -90px;
    margin-left: 200px;
}

.budgetHeader{
	display: flex;
	font-size: 30px;
}
<<<<<<< HEAD
>>>>>>> f394b979a6322a931a8dff8b6a9a258fe72b83df
=======

>>>>>>> 93b2c7aca42248682dd0c781854c5dc3f6c93d44

p{
	margin-top:10px;
}

